@use "./base.scss";
@use "themes";
// put your custom CSS here!


.section-li .meta {
  display: none !important;   
}

.section-li time {
  display: none !important;
}

// Mermaid Diagramme
.mermaid svg {
  max-width: none !important;
  width: 100% !important;
  overflow: visible !important;
}

.mermaid {
  overflow-x: auto;
}